import streamlit as st
import math
import numpy as np
import numpy
from scipy.optimize import fsolve
import matplotlib.pyplot as plt
import pandas as pd
from PIL import Image
from multipage import MultiPage
from pages import reservoir_flow, oilproperties, equipment, layout, wells, subsea, results
